.container {
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
  
    gap: 64px;
  
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  
  .save_btn_wrapper {
    position: fixed;
    top: 32px;
    left: 32px;
  }
}