@import '@/shared/colors.module.scss';

$paddingRegular: 4px;

.area {
  font-size: 16px;
  border-radius: 4px;
  padding: $paddingRegular;
  width: calc(100% - ($paddingRegular * 2));
  border: none;
  caret-color: $accent;
  background-color: $componentBackground;

  &:focus {
    outline: 1px solid $accent;
    outline-offset: 4px;
  }
}