@import '@/shared/constants/colors.module.scss';

.container {
  position: relative;

  &:hover {
    .on_hover_block {
      opacity: 1;
    }
  }

  .on_hover_block {
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 8px;
  
    top: 8px;
    left: 8px;

    opacity: 0;
    transition: opacity 0.15s;

    button {
      padding: 4px;
      border-radius: 4px;
      border: none;

      background-color: white;
  
      img {
        width: 24px;
        height: 24px;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  }
}