@import '../../colors.module.scss';

.button_large {
  width: 100%;

  color: black;
  background-color: $componentBackground;
  transition: all 0.15s;
  border: none;
  border-radius: 12px;
  font-size: 36px;
  padding: 8px;

  &:hover {
    cursor: pointer;
    background-color: $accent;
  }
}

.button_regular {
  @extend .button_large;

  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
}